{% extends 'base.html' %}

{% block content %}
<br>
<div class="container bg-light" id="prod">
    <br>
    <div class="row align-items-start">
        {% if productos %}
            {% for producto in productos %} 
                <div class="col-4">
                    <figure class="figure text-center">
                        <img src="{{producto.imagenProducto.url}}" class="figure-img img-fluid rounded" alt="." style="width:250px;">
                        <figcaption class="figure-caption font-weight-bold"><h3><a href="{% url 'detalle_prod' pk=producto.pk %}">{{ producto.nombreProducto }}</a></h3></figcaption>
                        <h4 class="font-weigth-light">Q.{{ producto.precioProducto }}</h4>
                        <h6>{{ producto.descripcion }}</h6>
                        <h6>Cantidad disponible: {{ producto.cantidad|linebreaksbr }}</h6>
                        <br>
                        <br>
                        <form action="{% url 'cart:cart_add' producto.pk %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn btn-outline-info" type="submit" value="Reservar">
                        </form>
                    </figure>
                </div>
            {% endfor %}
        {% else %}
            <h1>No existen productos relacionados</h1>
        {% endif %}
		<!-- Modal -->
		<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		        <figure class="figure text-center">
                    <a href="" data-toggle="modal" data-target="#imgModal"><img src="{{producto.imagenProducto.url}}" class="figure-img img-fluid rounded" alt="." style="width:550px;"></a>
                </figure>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
    <div class="row justify-content-center">
        {% if productos.has_previous %}
            <div class="clearfix">
                <a href="?page={{ productos.previous_page_number }}#prod" class="btn btn-outline-success float-left">Anterior</a>
            </div>
        {% endif %}
        {% if productos.has_next %}
            <div class="clearfix">
                <a href="?page={{ productos.next_page_number }}#prod" class="btn btn-outline-success float-left">Siguiente</a>
            </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}